av==12.0.0
lgpio==0.2.2.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
packaging==24.0
picamera2==0.3.18
pidng==4.0.9
piexif==1.1.3
pillow==10.3.0
pytesseract==0.3.10
python-prctl==1.8.1
#rainbowhat==0.1.0
rpi-kms==0.1a1
rpi-lgpio==0.5
rpi-libcamera==0.1a4
simplejpeg==1.7.2
smbus==1.1.post2
v4l2-python3==0.3.4
